.accueil-articles-section {
    background-color: #ffeee8;
}
.catalog_container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carte-article {
    max-width: 300px;
    flex: 1 1 calc(20% - 10px);
    margin: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .carte-article {
        max-width: 100%;
    }
  }
