.catalog-main {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
}
.catalog-main h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.carte {  
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
